//ignore 

# Ignore node_modules in all folders
node_modules/

# Environment variables (VERY IMPORTANT)
.env
backend/.env
frontend/.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Coverage
coverage/

# VS Code
.vscode/

# Mac files
.DS_Store
